{% extends "layout.html" %}

{% block title %}
    Sell a quote
{% endblock %}

{% block main %}

    <div class="user-info">
        <!-- This is shared HTML template that I created to be shared in some pages. It will display the current cash and the grand total of the account. -->
        {% include 'shared_user_info.html' %}
    </div>
    <h1 class="display-4 mx-auto mt-1 mb-5 main-header">Sell Shares</h1>
    <div class="checkout hover-effect">

        <form action="/sell" method="post">
            <div class="user-input-form">
                <fieldset>
                    <label class="" for="symbol">Choose Stock Quote Symbol:</label>
                    <select autocomplete="off" autofocus class="" id="symbol" name="symbol" placeholder="nflx/ ms/ na ...etc" type="text">
                        <option disabled selected value="">Symbol</option>
                        {% for quote_symbol in quote_symbols %}
                            <option value="{{ quote_symbol['stock_symbol'] }}">{{ quote_symbol['stock_symbol'] }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
            </div>
            <div class="user-input-form">
                <fieldset>
                    <label for="shares" >Enter Number of Shares:</label><input autocomplete="off" autofocus class="" id="shares" name="shares" placeholder="10/ 4/ 30/ ..etc" type="number">
                </fieldset>
            </div>
            <button class="btn btn-primary" type="submit" name="" id="">Submit</button>
        </form>

    </div>
{% endblock %}
